/* CSS file */
h1,h2{
	text-align: center;
}

body{
	background-color: #eaf3f9;
}

h1{
	font-family: "Arial Black", Gadget, sans-serif;
}

h2{
	font-family: "Comic Sans MS", cursive, sans-serif;
}

h1.signIn {
	float: left;
	left: 2in;
	position: relative;
}

h1.signUp {
	float: right;
	right: 2in;
	position: relative;
}

.containerSignIn {
	position: relative;
	left: 1in;
	width: 250px;
	clear: both;
}
.containerSignIn input {
	width: 100%;
	clear: both;
}

.containerSignUp {
	float: right;
	top: -1in;
	left: -1in;
	position: relative;
	width: 250px;
	clear: both;
}
.containerSignUp input {
	width: 100%;
	clear: both;
}

#uploadBttn a{
	text-decoration: none;
	color:white;
}

#uploadBttn button{
	height:40px;
	width:130px;
	background-color: #1174b9;
	border-radius: 10px;
	border: 1px solid black;
	border-style: none;
	font-size: 1em;
}

#uploadBttn button:hover{
	background-color:#5392d2;
}

ul#navbar{
	list-style-type: none;
	overflow: hidden;
	position:relative;
	top:-45px;
	right:100px;
}

ul#navbar li{
	display: inline;
	position: relative;
	float:right;
	margin: 0 5px 0 5px;
	padding: 0 5px 0 5px;
}

#navbar a{
	display:block;
	text-align: center;
	text-decoration: none;
}

#uploadBttn{
	position:relative;
	text-align: center;
}

ul#displayImg{
	list-style-type: none;
	overflow: hidden;
	position: relative;
}

ul#displayImg li{
	vertical-align: top;
	display:inline-block;  
	position: relative;
	padding:5px 20px 20px 20px;
	margin: 10px 20px 20px 20px;
	background-color: #ffffff;
	border-radius: 15px;
	line-height: 5px;
}

#uploadForm{
	text-align: center;
}
