/* CSS file */
h1{
	text-align: center;
}

h1.signIn {
	float: left;
	left: 2in;
	position: relative;
}

h1.signUp {
	float: right;
	right: 2in;
	position: relative;
}

.containerSignIn {
	position: relative;
	left: 1in;
	width: 250px;
	clear: both;
}
.containerSignIn input {
	width: 100%;
	clear: both;
}

.containerSignUp {
	float: right;
	top: -1in;
	left: -1in;
	position: relative;
	width: 250px;
	clear: both;
}
.containerSignUp input {
	width: 100%;
	clear: both;
}


ul#navbar{
	list-style-type: none;
	overflow: hidden;
	position:relative;
	top:-45px;
	right:100px;
}

ul#navbar li{
	display: inline;
	position: relative;
	float:right;
	margin: 0 5px 0 5px;
	padding: 0 5px 0 5px;
}

#navbar a{
	display:block;
	text-align: center;
	text-decoration: none;
}

#uploadBttn{
	position:relative;
	text-align: center;
}

#displayImg{
	line-height: 0.3px;
}

ul#displayImg{
	list-style-type: none;
	overflow: hidden;
	position: relative;
}

ul#displayImg li{
	vertical-align: top;
	display:inline-block;  
	position: relative;
	padding:10px 0 10px 0;
	margin: 10px 20px 20px 20px;
}
